streamlit
transformers
torch
sentencepiece
opencv-python
pillow
pytesseract
easyocr
googletrans==4.0.0rc1
deep-translator
langdetect
language-tool-python
sounddevice
scipy
pydub
moviepy
openai-whisper
boto3
ffmpeg-python
numpy
pandas
pysrt
python-dotenv
gTTS
h5py
